<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_header_bg }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}">
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}
  {% render 'css-variables' %}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <script>
    window.theme = window.theme || {};

    theme.strings = {
      stockAvailable: {{ 'products.product.stock_available' | t: count: '1' | json }},
      addToCart: {{ 'products.product.add_to_cart' | t | json }},
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      noStockAvailable: {{ 'products.product.stock_unavailable' | t | json }},
      willNotShipUntil: {{ 'products.product.will_not_ship_until' | t: date: '[date]' | json }},
      willBeInStockAfter: {{ 'products.product.will_be_in_stock_after' | t: date: '[date]' | json }},
      totalCartDiscount: {{ 'cart.general.savings_html' | t: price: '[savings]' | json }},
      addressError: {{ 'sections.map.address_error' | t | json }},
      addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
      addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
      authError: {{ 'sections.map.auth_error_html' | t | json }},
      slideNumber: {{ 'homepage.hero.slide_number' | t: slide_number: '[slide_number]' | json }}
    };

    {%- if template == 'collection' -%}
      {%- if current_tags -%}
        {%- capture tag_handles -%}
            {%- for tag in current_tags -%}
              {{- tag | handle | append: '|' -}}
            {%- endfor -%}
        {%- endcapture -%}
      {%- endif -%}
      theme.backToCollection = {
        collection: {
          title: {{ collection.title | json }},
          link: "{{ shop.url }}{{ collection.url }}{%- if current_tags -%}/{{- tag_handles | split: '|' | join: '+' -}}{%- endif -%}"
        }
      };
      sessionStorage.setItem("backToCollection", JSON.stringify(theme.backToCollection.collection));

    {%- elsif template != 'product' -%}
      if (sessionStorage.getItem("backToCollection")) {
        sessionStorage.removeItem("backToCollection")
      }
    {%- endif -%}
  </script>

  <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>

  {% if request.page_type contains 'customers/' %}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {% endif %}

  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>

  {% if request.page_type == 'product' or request.page_type == 'cart' or request.page_type == 'index' %}
    <script>
      window.theme = window.theme || {};
      theme.moneyFormat = {{ shop.money_format | json }};
    </script>
  {% endif %}

  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  {{ content_for_header }}
  
<!--   custom style -->
     <style>
       
       .personalize_body {
            position: fixed;
            display: none;
            width: 90%;
            height: 80%;
            left: 5%;
            top: 10%;
            right: 5%;
            bottom: 10%;
            background-color: white;
            overflow: auto;
            box-shadow: 0px 0px 15px black;
            z-index: 999;



        }

        .personalize_content {
            display: flex;
            width: 100%;
            height: 100%;
            background-color: white;
            position: absolute;
            flex-direction: row;
            align-content: stretch;
        }

        .per_block_left {
            background-color: #f4f4f4;
            width: 50%;
            display: flex;
            justify-content: center;
        }

        .per_block_right {
            background-color: white;
            width: 50%;
            display: flex;
            flex-direction: column;
        }

        .right_row {
            background-color: white;
            /* flex-grow: 1; */
            width: 100%;
        }

        .per_close {
            display: flex;
            justify-content: flex-end;
            background-color: white;
        }

        .close_img {
            width: 8%;
            height: auto;
            background-color: white;
        }

        .per_title {
            display: flex;
            justify-content: flex-start;
            margin-left: 10%;
            margin-right: 10%;
            background-color: white;
        }

        .per_edit_text {
            width: 80%;
            font-size: large;
            padding: 12px 12px;
            /* margin: 8px 0; */
            margin-left: 10%;
            margin-right: 10%;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .per_title_add_emoji {
            margin-left: 10%;
            margin-right: 10%;
        }

        .per_emoji_block {
            margin-left: 10%;
            margin-right: 10%;
            padding-left: 10%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            overflow-x: scroll;
        }

        .per_button_save {
            width: 80%;
            margin-top: 10%;
            font-size: large;
            padding: 20px 12px;
            /* margin: 8px 0; */
            margin-left: 10%;
            margin-right: 10%;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            background-color: black;
            color: white;
        }

        .per_emoji_image {
            width: 10%;
            height: auto;
        }

        .per_button_save:hover {
            background-color: grey;
        }

        /* .per_featured_img {
            width: 50%;
            margin: 25%;
        } */

        .touter {
            padding: 1rem;
            width: 100%;
            border: 1px solid black;
        }

        .intext {
            width: 500px;
            height: 70px;
            border: 1px solid #ccc;

        }

        #container1 {
            position: relative;
            width: 100%;
            text-align: center;
            max-width: 600x;
            min-width: 300px;
        }

        #image1 {
            width: 100%;
            height: 500px;
            background: blue;
            color: #fff;
        }

        #image2 {
            position: absolute;
            top: 45%;
            left: 35%;
            width: 30%;
            height: 5%;
/*             background: red; */
        }
            
        </style>
  
</head>

<body class="template-{{ request.page_type | handle }}" >

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">
    {{ 'general.accessibility.skip_to_content' | t }}
  </a>

  {% section 'header' %}

  <div class="page-container page-element is-moved-by-drawer">
    <main class="main-content" id="MainContent" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
  </div>

  <script id="QuantityTemplate" type="text/template">
    {% raw %}
      <div class="js-qty">
        <input type="text" value="{{ value }}" id="{{ key }}" name="{{ name }}" pattern="[0-9]*" data-line="{{ line }}" class="js-qty__input" aria-live="polite">
        <button type="button" class="js-qty__adjust js-qty__adjust--minus" aria-label="{% endraw %}{{ 'cart.label.decrease_quantity' | t }}{% raw %}">
          {% endraw %}{% include 'icon-minus' %}{% raw %}
          <span class="icon__fallback-text">−</span>
        </button>
        <button type="button" class="js-qty__adjust js-qty__adjust--plus" aria-label="{% endraw %}{{ 'cart.label.increase_quantity' | t }}{% raw %}">
          {% endraw %}{% include 'icon-plus' %}{% raw %}
          <span class="icon__fallback-text">+</span>
        </button>
      </div>
    {% endraw %}
  </script>

  {% if request.page_type == 'product' %}
    <div id="ProductModal" class="modal">
      <div class="modal__inner">
        <img src="" id="ProductZoomImg" class="product-modal__image">
      </div>
      <button type="button" class="modal__close js-modal-close text-link">
        {% include 'icon-close' %}
        <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
      </button>
    </div>
  {% endif %}

  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
    <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
    <li id="a11y-slideshow-info">{{- 'homepage.hero.navigation_instructions' | t -}}</li>
  </ul>
  
<!--   self script -->
   <script>
      var mod_box = document.getElementById("personalize_block");
        var per_button = document.getElementById("personalize_button");
        var close_button = document.getElementById("close_block");

        per_button.onclick = function () {
            mod_box.style.display = "block"
        }
        close_button.onclick = function () {
            mod_box.style.display = "none"
        }

        function emoji_01() {

            const textimage = document.getElementById('divimage');
            const ti2 = document.getElementById('divimage2');
            const ti3 = document.getElementById('divimage3');


            textimage.innerHTML = textimage.innerHTML + "<img  width='30' height='25' src='{{ 'emo_01.png' | asset_img_url: '300x' }}' alt=''>";
            ti2.innerHTML = textimage.innerHTML;
            ti3.innerHTML = ti2.innerHTML ;
        }

        function emoji_02() {

            const textimage = document.getElementById('divimage');
            const ti2 = document.getElementById('divimage2');
            const ti3 = document.getElementById('divimage3');


            textimage.innerHTML = textimage.innerHTML + "<img  width='30' height='25' src='{{ 'emo_02.png' | asset_img_url: '300x' }}' alt=''>";
            ti2.innerHTML = textimage.innerHTML;
            ti3.innerHTML = ti2.innerHTML ;

        }
        function emoji_03() {

            const textimage = document.getElementById('divimage');
            const ti2 = document.getElementById('divimage2');
            const ti3 = document.getElementById('divimage3');


            textimage.innerHTML = textimage.innerHTML + "<img  width='30' height='25' src='{{ 'emo_03.png' | asset_img_url: '300x' }}' alt=''>";
            ti2.innerHTML = textimage.innerHTML;
            ti3.innerHTML = ti2.innerHTML ;
        }
        function emoji_04() {

            const textimage = document.getElementById('divimage');
            const ti2 = document.getElementById('divimage2');
            const ti3 = document.getElementById('divimage3');


            textimage.innerHTML = textimage.innerHTML + "<img  width='30' height='25' src='{{ 'emo_04.png' | asset_img_url: '300x' }}' alt=''>";
            ti2.innerHTML = textimage.innerHTML;
            ti3.innerHTML = ti2.innerHTML ;

        }
        function emoji_05() {

            const textimage = document.getElementById('divimage');
            const ti2 = document.getElementById('divimage2');
            const ti3 = document.getElementById('divimage3');


            textimage.innerHTML = textimage.innerHTML + "<img  width='30' height='25' src='{{ 'emo_05.png' | asset_img_url: '300x' }}' alt=''>";
            ti2.innerHTML = textimage.innerHTML;
            ti3.innerHTML = ti2.innerHTML ;

        }
        function emoji_06() {

            const textimage = document.getElementById('divimage');
            const ti2 = document.getElementById('divimage2');
            const ti3 = document.getElementById('divimage3');


            textimage.innerHTML = textimage.innerHTML + "<img  width='30' height='25' src='{{ 'emo_06.png' | asset_img_url: '300x' }}' alt=''>";
            ti2.innerHTML = textimage.innerHTML;
            ti3.innerHTML = ti2.innerHTML ;

        }
        function emoji_07() {

            const textimage = document.getElementById('divimage');
            const ti2 = document.getElementById('divimage2');
            const ti3 = document.getElementById('divimage3');


            textimage.innerHTML = textimage.innerHTML + "<img  width='30' height='25' src='{{ 'emo_07.png' | asset_img_url: '300x' }}' alt=''>";
            ti2.innerHTML = textimage.innerHTML;
            ti3.innerHTML = ti2.innerHTML ;
        }


        function emoji_08() {

            const textimage = document.getElementById('divimage');
            const ti2 = document.getElementById('divimage2');
            const ti3 = document.getElementById('divimage3');


            textimage.innerHTML = textimage.innerHTML + "<img  width='30' height='25' src='{{ 'emo_08.png' | asset_img_url: '300x' }}' alt=''>";
            ti2.innerHTML = textimage.innerHTML;
            ti3.innerHTML = ti2.innerHTML ;
        }








        function writing() {

            document.getElementById('divimage2').innerHTML = document.getElementById('divimage').innerHTML;
            document.getElementById('divimage3').innerHTML = document.getElementById('divimage').innerHTML;


        }
        function setImg() {
            var img1 = document.getElementById('image1'),
                img2 = document.getElementById('image2'),
                offtop = ((img1.offsetHeight / 2) - (img2.offsetHeight / 2)),
                offleft = ((img1.offsetWidth / 2) - (img2.offsetWidth / 2));
            img2.style.top = offtop + "px";
            img2.style.left = offleft + "px";
        }
        function save_edit() {
            const data = document.getElementById('divimage3').innerHTML;
            const dataname = 'data-tile';
            const cookie = document.cookie = "" + dataname + "=" + data + "; expires=Thu, 20 Dec 2022 12:00:00 UTC";
            alert(cookie);
            console.log(data);
            // localStorage.setItem("lastname", "Smith");
            localStorage.setItem(dataname, data);
            mod_box.style.display = "none"

        }
        function load() {
            const c = localStorage.getItem("data-tile");
            const a = document.getElementById('divimage3');
            const b = document.getElementById('check');
            a.innerHTML = c;
            b.innerHTML = c;
        }
                
            </script>
</body>
</html>
